body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:70px;
  width:633px;
  height:240px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:33px;
  top:0px;
  width:81px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:114px;
  top:0px;
  width:514px;
  height:30px;
  color:#868686;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:30px;
}
#u6 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:33px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:33px;
  top:30px;
  width:81px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:114px;
  top:30px;
  width:514px;
  height:30px;
  color:#868686;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:30px;
}
#u12 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:33px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:33px;
  top:60px;
  width:81px;
  height:30px;
  color:#868686;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:114px;
  top:60px;
  width:514px;
  height:30px;
  color:#868686;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:30px;
}
#u18 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:90px;
  width:33px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:33px;
  top:90px;
  width:81px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:114px;
  top:90px;
  width:514px;
  height:29px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:29px;
}
#u24 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:119px;
  width:33px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:33px;
  top:119px;
  width:81px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:114px;
  top:119px;
  width:514px;
  height:29px;
  color:#868686;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:29px;
}
#u30 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:148px;
  width:33px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:33px;
  top:148px;
  width:81px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:114px;
  top:148px;
  width:514px;
  height:29px;
  color:#868686;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:29px;
}
#u36 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:177px;
  width:33px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:33px;
  top:177px;
  width:81px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:114px;
  top:177px;
  width:514px;
  height:29px;
  color:#868686;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:29px;
}
#u42 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:206px;
  width:33px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:33px;
  top:206px;
  width:81px;
  height:29px;
  color:#868686;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:114px;
  top:206px;
  width:514px;
  height:29px;
  color:#868686;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:29px;
}
#u48 {
  position:absolute;
  left:12px;
  top:6px;
  width:500px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:12px;
  top:30px;
  width:473px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:22px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
