body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:10px;
  width:930px;
  height:1610px;
  line-height:25px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:1610px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:695px;
  width:760px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:726px;
  width:760px;
  height:444px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:444px;
}
#u5 {
  position:absolute;
  left:2px;
  top:214px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:103px;
  top:703px;
  width:129px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:77px;
  top:703px;
  width:17px;
  height:17px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:726px;
  width:156px;
  height:444px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:444px;
}
#u11 {
  position:absolute;
  left:2px;
  top:214px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:81px;
  top:739px;
  width:12px;
  height:12px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:802px;
  width:156px;
  height:34px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:103px;
  top:736px;
  width:129px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:81px;
  top:777px;
  width:12px;
  height:12px;
  font-size:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:103px;
  top:773px;
  width:129px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:81px;
  top:813px;
  width:12px;
  height:12px;
  font-size:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:103px;
  top:810px;
  width:129px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:81px;
  top:1018px;
  width:12px;
  height:12px;
  font-size:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:103px;
  top:1014px;
  width:129px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:835px;
  width:156px;
  height:171px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:171px;
}
#u31 {
  position:absolute;
  left:2px;
  top:78px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:204px;
  top:819px;
  width:10px;
  height:5px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:103px;
  top:851px;
  width:123px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#D7D7D7;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:103px;
  top:890px;
  width:123px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#D7D7D7;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:103px;
  top:929px;
  width:123px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#D7D7D7;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:649px;
  top:702px;
  width:121px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:770px;
  top:703px;
  width:17px;
  height:17px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:234px;
  top:736px;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:422px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:422px;
}
#u46 {
  position:absolute;
  left:2px;
  top:203px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:204px;
  top:23px;
  width:241px;
  height:25px;
  font-size:11px;
  color:#6B6B6B;
  line-height:25px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:17px;
  top:77px;
  width:536px;
  height:129px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:129px;
}
#u50 {
  position:absolute;
  left:2px;
  top:56px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:17px;
  top:77px;
  width:536px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:33px;
}
#u52 {
  position:absolute;
  left:20px;
  top:8px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:17px;
  top:109px;
  width:536px;
  height:33px;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:33px;
}
#u54 {
  position:absolute;
  left:30px;
  top:10px;
  width:504px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:17px;
  top:142px;
  width:536px;
  height:33px;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:33px;
}
#u56 {
  position:absolute;
  left:30px;
  top:10px;
  width:504px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:36px;
  top:87px;
  width:470px;
  height:14px;
  font-size:10px;
  color:#6B6B6B;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:36px;
  top:173px;
  width:109px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:0px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:46px;
  top:152px;
  width:22px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:103px;
  top:968px;
  width:123px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#D7D7D7;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:799px;
  top:703px;
  width:17px;
  height:17px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:70px;
  top:685px;
  width:760px;
  height:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:12px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:70px;
  top:845px;
  width:156px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:70px;
  top:845px;
  width:156px;
  height:36px;
  font-size:9px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:70px;
  top:920px;
  width:156px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:70px;
  top:920px;
  width:156px;
  height:36px;
  font-size:9px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:76px;
  top:262px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:76px;
  top:340px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:235px;
  top:736px;
  width:582px;
  height:429px;
  overflow:hidden;
  visibility:hidden;
}
#u81_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:429px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u81_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:422px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:422px;
}
#u83 {
  position:absolute;
  left:2px;
  top:203px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:150px;
  top:23px;
  width:241px;
  height:25px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
  line-height:25px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:14px;
  top:58px;
  width:550px;
  height:232px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:232px;
}
#u87 {
  position:absolute;
  left:2px;
  top:108px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:161px;
  top:217px;
  width:109px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#6B6B6B;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
}
#u88_img.mouseOver {
}
#u88.mouseOver {
}
#u89 {
  position:absolute;
  left:0px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:178px;
  top:197px;
  width:22px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:76px;
  top:365px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:280px;
  top:802px;
  visibility:hidden;
  touch-action:none;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:253px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:253px;
}
#u96 {
  position:absolute;
  left:2px;
  top:118px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:12px;
  top:1px;
  width:200px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:366px;
  top:9px;
  width:14px;
  height:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:12px;
  top:49px;
  width:200px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:60px;
  top:51px;
  width:290px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u104 {
  position:absolute;
  left:12px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:328px;
  top:61px;
  width:12px;
  height:6px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:6px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-5px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:60px;
  top:89px;
  width:290px;
  height:104px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:104px;
}
#u108 {
  position:absolute;
  left:2px;
  top:44px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:130px;
  top:208px;
  width:130px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:350px;
  top:0px;
  width:40px;
  height:40px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:81px;
  top:461px;
  width:881px;
  height:25px;
  color:#6B6B6B;
  line-height:25px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:25px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  word-wrap:break-word;
}
